# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov

# Production
build/
dist/
out/

# Environment
.env
.env.local
.env.*.local

# Blockchain
cache/
artifacts/
typechain/
typechain-types/

# Foundry
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/lib/

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
*.swp
*.swo

# IDE
.vscode/
.idea/
*.iml

# Keys
*.pem
*.key
keystore/
contracts/lib/
